@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.main-nav__item li,
a,
button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(4, 156, 149);
}

.logo {
    cursor: pointer;
    height: 2.5rem;
}

.main-nav__item {
    list-style: none;
}

.main-nav__item li {
    display: inline-block;
    padding: 0px 20px;
}

.main-nav__item li,
a {
    transition: all 0.3s;
}

.main-nav__item li,
a:hover {
    color: #008890
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}